.banner{
    margin: 15px 0;
    position: var(--positionRelative);
}

.banner p,
.banner::before{
    position: var(--positionAbsolute);
}

.banner img{
    display: block;
}

.banner p{
    width: 226px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: var(--fontSize24);
    color: var(--secondaryColor);
}

.banner::before {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner img, .banner::before{
    border-radius: var(--borderRadiusSmall);
}

.banner,
.banner::before,
.banner img{
    height: 111px;
}

.banner::before,
.banner img{
    object-fit: var(--objectFit);
}


@media screen and (min-width:768px){
    .banner, 
    .banner::before, 
    .banner img {
        height: 169px;
    }

    .banner img, 
    .banner::before{
        border-radius: var(--borderRadiusMiddle);
    }

    .banner p{
        font-size: 24px;
        white-space: nowrap;
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width:1024px){
    .banner, 
    .banner::before, 
    .banner img {
        height: 223px;
    }

    .banner img, .banner::before{
        border-radius: var(--borderRadiusMiddle);
    }

    .banner p{
        font-size: 38px;
    }
}

@media screen and (min-width:1440px){
    .banner, 
    .banner::before, 
    .banner img {
        height: 223px;
    }
    
    .banner p{
        font-size: 48px;
    }
}