.banner{
    margin: 15px 0;
    position: var(--positionRelative);
}

.banner p, 
.banner::before{
    position: var(--positionAbsolute);
}

.banner img{
    display: block;
}

.banner p{
    font-size: 24px;
    color: var(--secondaryColor);
    left: 10%;
}

.banner p:nth-child(2){
    top: 25px;
    
}

.banner p:nth-child(3){
    top:52px
}

.banner::before {
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner img, .banner::before{
    border-radius: var(--borderRadiusSmall);
}

.banner,
.banner::before,
.banner img{
    height: 111px;
}

.banner::before,
.banner img{
    object-fit: var(--objectFit);
}

@media screen and (min-width:768px) {
    .banner, .banner::before, .banner img {
        height: 225px;
    }

    .banner p:nth-child(2) {
        top: 40%;
        left: 50%;
        width: 100%;
        font-size: 38px;
        text-align: center;
        transform: translate(-50%, -50%)
    }

    .banner p:nth-child(3) {
        top: 60%;
        left: 50%;
        width: 100%;
        font-size: 38px;
        text-align: center;
        transform: translate(-50%, -50%)
    }
}

@media screen and (min-width:1024px) {
    
}