.appartement-info,
.user p,
.collapse-content2{
    color: var(--primaryColor);
}

.user-info,
.user,
.collapse-content1,
.flex-mobile{
    display: var(--flex);
}

.user-info,
.collapse-content1{
    justify-content: var(--spaceBetween);
}

.collapse-content1{
    padding: 10px;
    order: 2;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border-radius: var(--borderRadiusSmall);
}

.collapse-content2{
    padding: 10px;
    height: 196.35px;
    border-radius: 0 0 10px 10px;
    line-height: var(--line-height1);
    font-weight: var(--fontWeight4);
    font-size: var(--fontSize12);
    background-color: var(--secondaryColor);
}

.collapse-content2 ul{
    padding:0;
}

.flex-mobile{
    flex-wrap: wrap;
}

.user-info{
    align-items: var(--aligneItems);
    width: 100%;
    order: 2;
}

.user{
    order: 2;
    text-align: end;
    justify-content: end;
    align-items: var(--aligneItems);
    width: 50px;
    height: 50px;
}

.user img{
    border-radius: 50px;
}

.rating{
    color: #E3E3E3;
    order:1;
}

.colorRating{
    color: var(--primaryColor);
}

.user p{
    margin:0 10px
}

.item-collapse{
    margin: 10px 0;
}

/************************MEDIA QUERY*****************************************/
@media screen and (min-width:768px){
    .collapse-content2, .collapse-content2{
        font-size: var(--fontSize14);
    }
}

@media screen and (min-width:1024px){
    .collapses{
        display: var(--flex);
        justify-content: var(--spaceBetween);
    }

    .item-collapse{
        width: 49.2%;
    }

    .collapse-content1{
        font-size: var(--fontSize16)
    }

    .collapse-content2{
        border-radius: 0 0 10px 10px;
        font-size: var(--fontSize16);
        line-height: var( --line-height2);
        height: 84%;
    }

    .user-info{
        order:2
    }

    .collapse-about .item-collapse{
        width: 85%;
        margin: 50px auto;
    }
}