footer{
    background-color: black;
    color: var(--secondaryColor);
    padding: 20px;
}
    
footer p{
    text-align: center;
    font-size: 12px;
}

footer img{
    width: 122px;
}

@media screen  and (min-width:1024px){
    
    footer{
        margin:0;
    }
}