footer{
    color: var(--secondaryColor);
    background-color: black;
    margin-top:51px;
    padding: 20px;
}

footer img{
    width: 75px;
}

footer p {
    font-size: 12px;
    text-align: center;
}

@media screen  and (min-width:1024px){
}