header{
    display: var(--flex);
    justify-content: var(--spaceBetween);
    align-items: var(--aligneItems);
    margin:0 auto;
    padding:15px;
}

.logo{
    width: 26%;
}

@media screen and (min-width:1024px) {

    header{
        margin: 14px auto;
        width: 98%
    }
    
    .logo{
        width: 26%;
    }
}