.navbar{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.navbar a{
    text-transform: uppercase;
    font-size: 10px;
    color: var(--primaryColor);
}

.navbar a:hover{
    text-decoration: underline;
}

/*********************************************************/

@media screen and (min-width:768px) {
    .navbar{
        width: 26%;
    }
    .navbar a{
        font-size: 15px;
    }
}

@media screen and (min-width:1024px) {
    .navbar{
        width: 19%;
    }
    
    .navbar a{
        font-size: 24px;
        text-transform: none;
    }
}