.navbar{
    display: flex;
    justify-content: space-between;
    gap:14px;
}

.navbar a{
    text-transform: uppercase;
    font-size: var(--fontSize12);
    color: var(--primaryColor);
}

.navbar a:hover{
    text-decoration: underline;
}

/*********************************************************/

@media screen and (min-width:768px) {
    .navbar a{
        font-size: var(--fontSize12);

    }
}

@media screen and (min-width:1024px){
    .navbar{
        gap:51px
    }
    .navbar a{
        font-size: 24px;
        text-transform: none;
    }
}

@media screen and (min-width:1440px){
    .navbar{
        gap:51px
    }
    .navbar a{
        font-size: 34px;
        text-transform: none;
    }
}
