@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html{
  --primaryColor: #FF6060;
  --secondaryColor: #f6f6f6;
  --thirdColor: #c4c4c4;

  --borderRadiusSmall: 10px;
  --borderRadiusMiddle: 25px;

  --flex: flex;
  --spaceBetween: space-between;
  --aligneItems: center;

  --positionRelative: relative;
  --positionAbsolute: absolute;

  --objectFit: cover;
}

*{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  list-style-type: none;
  box-sizing: border-box;
}

body, 
.banner p, 
article h2,
.item-collapse,
.collapse-content1{
  margin:0
}

img{
  width: 100%;
}

main {
  margin: 0 15px;
}
