.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  border-radius: 25px;
  background-color: #F6F6F6;
  padding: 50px;
}

.card a{
  display: flex;
  border: 1px solid;
  height: 340px;
  position: relative;
  border-radius: 10px;
}

.card{
  width: 340px;
  height: 340px;
  border-radius: 10px;
}

.card img{
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}
.card-title{
  position: absolute;
  bottom:0;
  width: 100%;
  height: 67px;
  padding:10px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  background-color: #FF6060;
  border-radius:0px 0px 10px 10px; 
}

/* .card-title:hover {
  opacity: 1;
  background-color:#FF6060;
  color:whitesmoke;
  border-radius:0px 0px 10px 10px; 
} */
