.container-card{
    border-radius: 25px;
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin:auto;
}

.card{
  border:1px solid black;
  width: calc(33.33% - 10px);
  position: relative;
}

.card img{
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
}
.card-title{
  position: absolute;
  top:50;
}