.container-collapse{
  display: flex;
  justify-content: space-between;
}

.titre-collapse {
    border-radius: 10px;
    margin: 0;
    padding: 5px 0;
    background-color: #FF6060;
    color:whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 11px;
  }

.text-collapse{
  background-color: #F7F7F7;
  padding: 25px 20px;
  height: 249px;
  border-radius: 0 0 10px 10px;
  color: #FF6060;
  font-size: 18px;
  line-height: 25.67px;
  font-weight: 400;
}

.items-collapse{
  width: 47%;
}
.info-appart h2{
  font-size: 36px;
  font-weight: 500;
}
.item-appart{
  color:#FF6060;
}

.container-infos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.info-user{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap:12px;
}

/* .img-container{
  text-align: end;
  width: 64px;
  height: 64px;
} */

.img-host{
  border-radius:100%;
  width: 64px;
  height: 64px;
}

.name-host{
  color:#FF6060;
  word-break: normal;
  width: 20%;
  text-align: end;
  font-size: 18px;
}