/******* ERREUR *******/
.container-erreur {
    text-align: center;
    color: #ff6060;
    margin-top: 170px;
  }
  
  .para-erreur {
    line-height: 6;
    font-size: 1.5rem;
  }
  
  .btn-erreur {
    border: none;
    background-color: white;
    color: #ff6060;
    text-decoration: underline;
    margin: 66px 0px 79px 0;
  }