/******* FOOTER *******/
footer {
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .footer-container {
    padding-top: 31px;
  }
  
  .imgFooter {
    width: 71px;
  }
  
  .text-footer {
    padding-bottom: 31px;
    margin-bottom: 0;
  }