/******* NAVBAR *******/
.container-navbar {
    display: flex;
    gap: 56px;
    font-size: 1.5rem;
    color: #ff6060;
  }
  
  .container-navbar a {
    color: #ff6060;
    text-decoration: none;
  }
  .container-navbar a:hover {
    text-decoration: underline;
  }